.footer {
  grid-column: 1 / -1;
  grid-row: -1;
  color: white;
  height: 479.467px;
  &--top {
    height: 216.5px;
    background: #f5f6f9;
    display: grid;
    grid-template-columns: 1fr repeat(3, 288px) 1fr;
    &__left {
      grid-column: 2;
      justify-self: center;
    }
    &__center {
      grid-column: 3;
      justify-self: center;
    }
    &__right {
      grid-column: 4;
      justify-self: center;
    }
    h3 {
      color: black;
      border-bottom: #dfdfdf 1px solid;
      font-size: 14px;
      font-weight: 500;
      padding: 8px 0;
      margin: 8px 0;
    }  
    ol {
      list-style: decimal;
      font-size: 10px;
      font-weight: 500;
      padding-bottom: 4px;
      li {
        color: #2e51a2;
      }
    }
  }
  &--bottom {
    background: #2e51a2;
    height: 262.967px;
    padding: 32px 0 15px;
  }
}