nav {
  grid-row: 2;

  ul {
    grid-row: 2;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;

    li {
      margin: 0;

      a {
        font-size: 2rem;
        display: block;
        // background: white;
        font-weight: 700;
        color: white;
      }
    }
  }
}