// .hnav is the primary nav seen on all pages. Thought I am using SCSS,
// I am electing to separate the nav properties to make it easier to 
// navigate (hehhhhhh)

.hnav {
  padding: 0;
  margin: 0;
  height: 3.5em;
  &--ul {
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-template-rows: 3.5em;
    color: white;
    font-size: 1em;
    align-items: center;
    // justify-items: center;
    &__li {
      text-align: center;
      padding: 1em;
      position: relative;
      &:hover {
        background: #e1e7f5;
        color: black;
      }
    }
  }
}

// .dropdown is the UL contained inside of the .hnav li. 

.dropdown {
  visibility: hidden;
  opacity: 0;
  width: 130px;
  position: absolute;
  left: 0;
  margin: .9em 0 0 0;
  display: none;
  &--li {
    height: 100%;
    width: 100%;
    display: block;
    padding: 1em;
    position: relative;
    text-align: left;
    a {
      color: inherit;
    }
  }
}

// Creating a hover effect for .dropdown 
.hnav--ul__li:hover > .dropdown {
  background: #e1e7f5;
  color: black;
  visibility: visible;
  opacity: 1;
  display: block;
  z-index: 100;
}


.hnav--ul__li .dropdown--li {
  width: 100%;
  &:hover {
    background: #1d439b;
    color: white;
  }
}

// .hnav--ul__li .dropdown--li a {
//   color: black;
//   &:hover {
//     color: white;
//   }
// }