.blog {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.news {
  border: 1.5px solid $tertiary;
  width: 55rem;
  display: grid;
  grid-template-columns: 1fr;
  color: white;
  scroll-snap-align: start;
  margin: 3rem 0 4.5rem 0;
  justify-items: center;
  background: lighten($mainBackgroundColor, 10%);

  &--excerpt {
    height: 100%;
  }

  h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    padding: 1.5rem 1.5rem 1rem 1.5rem;
  }

  img {
    display: block;
    width: 100%;
  }

  time {
    font-size: 1.6rem;
  }

  p {
    margin: 0.75rem 0;
    padding: 1.5rem 3rem;
    font-size: 1.8rem;
  }

  a {
    color: white;
  }
}