.info {
  list-style: none;
  grid-column: 3;
  display: grid;
  row-gap: 3rem;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  // justify-items: center;
  margin: 0 0rem 0 0;
  // margin: 6rem 0 0.5rem 0;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-snap-points-x: repeat(260px);

  &--image {
    scroll-snap-align: start;
    grid-column: 1;
    grid-row: 1 / -1;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    z-index: 100;
    // box-shadow: -20px 4px 1px 1px rgba(137, 196, 244, 1);
    // border-left: 1.5px solid $tertiary;
    // border-bottom: 1.5px solid $tertiary;

    @include respond(phone) {
      width: 165px;
      height: 260px;
    }

    img {
      grid-row: 1 / -1;
      grid-column: 1;
      width: 185px;
      height: 260px;

      @include respond(phone) {
        width: 165px;
        height: 245px;
      }
    }

    h5 {
      position: relative;
      text-shadow: $tertiary 1px 1px 0;
      background: darken(rgba(21, 32, 43, 0.9), 5%);
      font-size: calc(16px + 0.1vw);
      padding: 1rem;
      font-weight: normal;
      grid-column: 1;
      grid-row: 2;
      align-self: end;

      @include respond(phone) {
        text-align: center;
        align-self: center;
        text-shadow: none;
      }
    }
  }

  li {
    max-width: 185px;
    max-height: 250px;
  }
}