.info {
  list-style: none;
  grid-column: 1 / -1;
  display: grid;
  grid-row: -1;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  grid-row-gap: 0.75rem;

  &--image {
    display: grid;
    grid-template-columns: 150px;
    grid-template-rows: 1fr;

    h5 {
      grid-row: 1;
      grid-column: 1;
    }
  }

  li {
    width: 150px;

    img {
      width: 150px;
      height: 216px;
    }

  }
}