.search {
  list-style: none;
  display: grid;
  grid-auto-flow: row;
  margin: 0;
  padding: 0;
  grid-column: 1;
  grid-row: 1 / -1;
  margin: 6rem 0 0 0;
  overflow-y: scroll;
  will-change: scroll-position;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: y mandatory;
  scroll-snap-points-y: repeat(150px);
  height: 100%;
}