.search--input {
  grid-row: 1;
  font-size: 2rem;
  grid-column: 1;
  display: block;
  justify-self: center;
  margin: 1.5rem 0 0 0;
  z-index: 3;

  span {
    padding: 1.5rem;
  }

  label {
    color: #232946;
  }

  input {
    border-radius: 1.5rem;
    border: none;
    width: 20rem;
    padding: .5rem 1rem;
  }
}

input[type="text"]:focus {
  border-color: #232946;
}