.search--input {
  grid-row: 1;
  font-size: 2rem;
  grid-column: 1;
  display: block;
  width: 20rem;
  height: 3.5rem;
  justify-self: center;
  margin: 1.5rem 0 0 0;

  span {
    color: #232946;
    pointer-events: none;
  }

  input {
    justify-self: center;
    width: 20rem;
    padding: .75rem 0;
    text-align: center;

    label {
      text-align: center;

    }
  }
}

input[type=text]:focus {
  border-color: red;
}