.search {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 1.5rem 0 0 0;
  grid-column: 1;
  grid-row: 1 / -1;
  scroll-snap-type: y mandatory;
  scroll-snap-points-y: repeat(150px);


  li {
    color: white;
    flex: 0 50%;
    scroll-snap-align: start;
    margin: 1.5rem 0 4.5rem 0;

    p {
      padding: 0 7.5rem 0 6rem;
      font-size: 1.8rem;
    }

    h5 {
      font-size: 2.2rem;
      margin: .75rem 0 0 0;
      font-weight: 900;
      padding: 0.75rem 3rem;
    }


    img {
      max-width: 20.5rem;
      max-height: 20rem;
      padding: 0 3rem;
    }

    a {
      color: white;
      font-size: 1.6rem;
    }

  }
}