.search {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  margin: 1.5rem 0 0 0;
  grid-column: 1;
  grid-row: 1 / -1;
  scroll-snap-type: y mandatory;
  scroll-snap-points-y: repeat(150px);

  //   li {
  //     color: white;
  //     flex: 0 50%;
  //     scroll-snap-align: start;
  //     margin: .75rem 0 4.5rem 0;

  //     p {
  //       padding: 0 9rem 0 6rem;
  //       font-size: 1.8rem;
  //     }

  //     h5 {
  //       font-size: 2.2rem;
  //       margin: .75rem 0 0 0;
  //       font-weight: 900;
  //       padding: 0.75rem 3rem;
  //     }

  //     img {
  //       max-width: 20.5rem;
  //       max-height: 20rem;
  //       padding: 0 3rem;
  //       margin: .65rem 0 0 0;
  //     }

  //     a {
  //       color: white;
  //       font-size: 1.6rem;
  //     }

  //   }
  // }

  // .li--image {
  //   display: grid;
  //   grid-template-columns: 13rem 1fr;
  //   grid-template-rows: auto 1fr;

  //   p {
  //     grid-column: 2;
  //     grid-row: 1;
  //     align-self: start;
  //   }

  //   div {
  //     grid-column: 2;
  //     grid-row: 1;
  //     justify-self: left;
  //     align-self: end;
  //     padding: 0 0 0 6rem;
  //   }
  // }

  // 457
}

.season {
  background: $mainBackgroundColor;
  color: white;
  scroll-snap-align: start;
  margin: 0.75rem 0 4.5rem 0;
  display: grid;
  grid-template-columns: 185px 1fr;
  grid-template-rows: 1fr auto;
  max-width: 427px;
  max-height: 265px;
  grid-column-gap: 30px;
  justify-self: center;
  border-radius: 6.5px;
  // add border
  h5 {
    display: none;
  }

  &--image {
    grid-column: 1;
    width: 185px;
    height: 265px;
    grid-row: 1 / -1;

    img {
      width: 185px;
      height: 265px;
      border-top-left-radius: 6.5px;
      border-bottom-left-radius: 6.5px;
    }
  }

  &--genre {
    grid-column: 2;
    grid-row: 3;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 0;

    li {
      background: $tertiary;
      padding: 0.25rem 1.5rem;
      border-radius: 5rem;
      text-shadow: 1.75px 1.75px 1.75px black;
    }
  }

  &--synopsis {
    align-self: start;
    grid-column: 2;
    grid-row: 1 / 3;
    margin: 1.5rem 0 0 0;

    p {
      padding: 0 1.5rem;
      font-size: 1.8rem;
    }
  }

  a {
    color: $tertiary;
  }
}
