.search--input {
  font-size: 2rem;
  display: block;
  text-align: center;

  span {
    display: block;
    padding: 1.5rem 0;
  }

  label {
    text-align: center;
  }


  input {
    width: 20%;
    outline: none;
    color: white;
    background: $primaryBackgroundColor;
    border: 3.2px solid white;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    padding: 0.5em 0em 0.5em 1rem;
  }
}