.select {
  grid-row: 1;
  grid-column: 1;
  display: block;
  justify-self: center;
  color: #232946;
  z-index: 3;
  margin: 1.5rem 0;
  text-align: center;

  select {
    outline: none;
    width: 20%;
    background: #b8c1ec;
    border: 3.2px solid #232946;
    border-radius: 4px;
    display: inline-block;
    padding: 0.5em 0em 0.5em 1rem;
    appearance: none;
    background-image:
      linear-gradient(45deg, transparent 50%, #232946 50%),
      linear-gradient(135deg, #232946 50%, transparent 50%);
    background-position:
      calc(100% - 10px) calc(1rem + 2px),
      calc(100% - 5px) calc(1em + 2px),
      calc(100% - .3em) .6em;
    background-size:
      5px 5px,
      5px 5px,
      1.5em 1.5em;
    background-repeat: no-repeat;

    option {
      font-size: 1.8rem;
      padding: 3rem 0;
      font-weight: 700;
    }
  }

  label {
    font-size: 1.8rem;
    text-align: center;
  }
}