.home {
  // height: 100vh;
  min-height: 200vh;
  display: grid;
  grid-template-columns: 1fr 310px;
  grid-template-rows: 224px 75px 210.5px 187px;
  aside {
    grid-column: 2;
    grid-row: 1 / -1;
  }
}