.home--right {
  margin: 2rem 10px 0 0;
  ul {
    background: #f5f6f9;
    width: 30.2em;
    height: 478px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

// .bottom {
//   padding: 5px 0;
//   background: #dde1ec;
//   display: flex;
//   justify-content: space-between;
//   h2,
//   span {
//     padding: 0 5px;
//   }
//   h2 {
//     font-size: 14px;
//     font-weight: 700;
//   }
//   span {
//     color: #1d439b;
//     font-size: 12px;
//   }
// }

// .right {
//   padding: 5px 0;
//   background: #dde1ec;
//   display: flex;
//   justify-content: space-between;
//   h2,
//   span {
//     padding: 0 5px;
//   }
//   h2 {
//     font-size: 14px;
//     font-weight: 700;
//   }
//   span {
//     color: #1d439b;
//     font-size: 12px;
//   }
// }

.home--middle {
  margin: 2rem 10px 0 0;
  ul {
    background: #f5f6f9;
    width: 300.9px;
    height: 478px;
  }
}

.middle,
.bottom,
.right {
  padding: 5px 0;
  background: #dde1ec;
  display: flex;
  justify-content: space-between;
  h2,
  span {
    padding: 0 5px;
  }
  h2 {
    font-size: 14px;
    font-weight: 700;
  }
  span {
    color: #1d439b;
    font-size: 12px;
  }
}

.home--bottom {
  margin: 2rem 10px 0 0;
  ul {
    background: #f5f6f9;
    width: 300.9px;
    height: 478px;
  }
}
