$primaryBackgroundColor: #333333;
$mainBackgroundColor: #15202b;
$secondaryBackgroundColor: #212121;
$thirdBackgroundColor: #515151;
$tertiary: #89c4f4;

$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 24px;
$mod_1: 1.2; // mobile
$mod_2: 1.5; // desktop