.characters {
  height: 5264px;
  &--search {
    width: 768px;
    height: 66px;
    border: #c3c3c3 1px solid;
    border-right-color: rgb(195, 195, 195);
    border-right-style: solid;
    border-right-width: 1px;
    border-radius: 8px 0 0 8px;
    border-right: #c3c3c3 0 solid;
    color: #323232;
    display: block;
    font-size: 14px;
    margin: 0;
    padding: 0;
  }
}

.chars:not(ul) {
  display: grid;
  grid-template-columns: 75px 419px 201px 201px 141px;
  grid-template-rows: 26px auto;
  background-color: #4f74c8;
  border: #4f74c8 0 solid;
  border-left-color: rgb(79, 116, 200);
  border-left-style: solid;
  border-left-width: 0px;
  border-left: #fff 1px solid;
  color: #fff;
  font-size: 12px;
  padding: 4px 0;
  align-items: center;
  justify-items: center;
}

.ul--main {
  background: white;
  li:nth-child(even) {
    background: #f6f6f6;
  }
  li:nth-child(odd) {
    background: white;
  }
}
