.newsletter {
  overflow-y: scroll;
  will-change: scroll-position;
  -webkit-overflow-scrolling: touch;

  h1 {
    text-align: center;
    text-decoration: underline;
    margin: 9rem 0 4.5rem 0;
  }

  h2 {
    font-size: 5rem;
  }

  img {
    display: block;
    width: 100%;
  }

  p {
    padding: 1.5rem 12rem;
  }

  p,
  a {
    font-size: 1.8rem;
  }
}