.data {
  grid-column: 2;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
}

.children {
  grid-column: 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-rows: 92.5vh;
  background: $secondaryBackgroundColor;
  border: 1px solid white;

  h1 {
    font-size: 100px;
  }
}

.post {
  grid-column: 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-rows: 92.5vh;
  background: $secondaryBackgroundColor;
  border: 1px solid white;
  overflow-y: scroll;
  will-change: scroll-position;
  -webkit-overflow-scrolling: touch;

  h1 {
    font-size: 100px;
  }
}


.post--news {
  grid-column: 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-rows: auto 92.5vh;
  background: $secondaryBackgroundColor;
  border: 1px solid white;
  overflow-y: scroll;
  will-change: scroll-position;
  -webkit-overflow-scrolling: touch;

  h1 {
    font-size: 100px;
  }
}