.data {
  grid-column: 1;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
}

.children {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-rows: 92.5vh;
  max-height: 100vh;
  overflow: hidden;

  h1 {
    font-size: 100px;
  }
}

.information {
  // 3, 5, 7, 9, 10, 11, 13, 16, 17, 350011
  background: url("/assets/bg3.jpg") no-repeat center center / cover;
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-rows: 1fr auto;
  max-height: 100vh;
  overflow: hidden;

  h1 {
    font-size: 100px;
  }
}

.post {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-rows: 92.5vh;
  overflow-y: scroll;
  will-change: scroll-position;
  -webkit-overflow-scrolling: touch;

  @include respond(laptop) {
    grid-template-rows: 7.5vh 92.5vh;
  }

  // @include respond(phone) {
  //   max-width: 100vw;
  //   overflow-x: hidden;
  // }

  // h1 {
  //   font-size: 100px;
  // }
}

.post--news {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-rows: auto 92.5vh;
  overflow-y: scroll;
  will-change: scroll-position;
  -webkit-overflow-scrolling: touch;

  h1 {
    font-size: 100px;
  }
}