.data {
  grid-column: 2;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
}

.children {
  grid-column: 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-rows: 92.5vh;
  background: #b8c1ec;

  h1 {
    font-size: 100px;
  }
}

.ani {
  grid-column: 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-rows: 5vh 87.5vh;
  background: #b8c1ec;

}