.info {
  margin: 4.5rem 0;

  &--title {
    grid-column: 2;
    grid-row: 1;
    font-size: 2rem;
    padding: 0 1.5rem;
  }

  &--image {
    grid-column: 1;
    grid-row: 1 / -1;
    padding: 0 1.5rem;

    img {
      width: auto;
      height: 15rem;
    }
  }

  &--intro {
    grid-column: 2;
    grid-row: 2;
    padding: 0 1.5rem;
    align-self: center;
  }

  &--external {
    grid-column: 2;
    grid-row: 3;
    padding: 0 1.5rem;
    align-self: end;

    a {
      color: white;
      font-size: 1.8rem;
    }
  }
}