.info {
  &--title {
    grid-column: 1 / -1;
    text-align: center;
    grid-row: 1;
    font-size: 2rem;
    padding: 0 3rem;
  }

  &--image {
    grid-column: 1;
    grid-row: 3;
    padding: 0 3rem;
    align-self: center;

    img {
      width: 10rem;
      height: 15rem;
    }
  }

  &--intro {
    grid-column: 2;
    grid-row: 2;
    padding: 0 3rem;
  }

  &--external {
    grid-column: 2;
    grid-row: -1;
    padding: 0 3rem;

    a {
      color: #232946;
      font-size: 1.8rem;
    }
  }
}
