.results {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 1fr;
  align-self: start;
  // margin: 1.5rem 0 0 0;
  color: darken(white, 10%);

  &--back {
    cursor: pointer;
    color: $tertiary;
    display: block;
    width: 85px;

    span {
      font-size: 1.8rem;
      font-weight: 900;
      display: block;
    }
  }

  ul {
    font-size: 1.6rem;
    grid-column: 1;
    grid-row: 3;
    // justify-self: right;
    margin: 0 0 0 3rem;
    // display: none;

    li::marker {
      color: $tertiary;
    }
  }

  &--divider {
    background: white;
    margin: 0.5rem 0 0.5rem 0;
    height: 1.5px;
  }

  &--image {
    grid-column: 1;
    margin: 0 0 0 3rem;
    grid-row: 2;

    img {
      width: 200px;
      height: 300px;
    }
  }

  &--heading {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    text-align: center;
    display: inline-block;
    // height: 5rem;
    // background: url("/assets/silentvoice.gif") no-repeat;
    // background: url("/assets/akira.gif") no-repeat center center / cover;
    // background: url("/assets/3437.jpg") no-repeat;
    // background-clip: text;
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;

    h1 {
      font-size: 4rem;
      // font-size: 6vw;

    }

    // font-size: $mod_1*$mod_1*$mod_1*$mod_1 *1rem;
    // @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);

    h2 {
      font-size: 2.5rem;
      text-align: center;
      margin: 0 0 0.75rem 0;
    }
  }

  &--span {
    color: $tertiary;
    font-size: 1.8rem;
    font-weight: 900;
  }

  &--inner {
    padding: 0 9rem;
    // align-self: start;
    justify-self: center;
    grid-column: 2;
    grid-row: 2;

    p {
      font-size: 1.6rem;
      // background: rgba(0, 0, 0, .45);
    }

    // .go-back {

    // }
  }
}