.results {
  display: grid;
  grid-column: 1;
  background: #b8c1ec;
  grid-template-columns: 30rem 1fr;
  color: #232946;
  overflow: hidden;
  overflow-y: scroll;
  will-change: scroll-position;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: y mandatory;
  scroll-snap-points-y: repeat(150px);

  &--news {
    grid-column: 2;
    grid-row: 2 / span 4;
    overflow-y: scroll;
    will-change: scroll-position;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: y mandatory;
    scroll-snap-points-y: repeat(200px);
    margin: 4.5rem 0 0 0;

    li {
      display: grid;
      grid-template-rows: repeat(3, 5rem);
      grid-template-columns: auto 1fr;
      scroll-snap-align: start;
    }

    li:not(:first-child) {
      margin: 9rem 0;
    }
  }

  h3 {
    padding: 0 3rem;
    font-size: 2.2rem;
    font-weight: 900;
  }

  span {
    font-weight: 900;
    font-size: 1.8rem;
  }

  p {
    font-size: 1.8rem;
  }

  &--external {
    display: none;
  }

  &--image {
    grid-column: 1;
    grid-row: 1;
    padding: 0 3rem;
    margin: 3rem 0;

    h1 {
      padding: 0;
      margin: 0;
      font-size: 4rem;
    }
  }

  &--alternative {
    grid-column: 1;
    grid-row: 2;
    margin: 1.5rem 0 0 0;

    p {
      padding: 0 3rem;
    }
  }

  &--information {
    grid-column: 1;
    grid-row: 3;
    margin: 3rem 0 4.5rem 0;

    p {
      padding: 0 3rem;
    }
  }

  &--synopsis {
    grid-column: 2;
    grid-row: 1;
    align-self: start;
    margin: 6rem 0 0 0;

    p {
      padding: 1.5rem 3rem;
    }
  }

  &--reveal {
    grid-column: 2;
    grid-row: 2;
  }

  &--background {
    grid-column: 2;
    grid-row: 1;
    align-self: end;
    margin: 0 0 1.5rem 0;

    p {
      padding: 1.5rem 3rem;
    }
  }
}

.button {
  background: #eebbc3;
  color: #232946;
  margin: 0 3rem;
  padding: 0.75rem 3rem;
  border: none;
  outline: none;
  cursor: pointer;
  display: block;

  &--disabled {
    pointer-events: none;
    color: #eebbc3;
    background: #232946;
  }
}