.home--container {
  max-width: 716.1px;
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
}

.seasonal {
  display: grid;
  &--heading {
    width: 716.1px;
    max-height: 23.5px;
    grid-row: 1;
    h2 {
      font-size: 12px;
      font-weight: 700;
      margin: 4px 0 5px;
      padding: 3px 0;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  hr {
    height: 2px;
    width: 716.1px;
  }
  ul {
    display: flex;
    flex-direction: row;
    img {
      min-width: 160px;
      min-height: 220px;
    }
    li {
      margin: 0 20px 0 0;
      cursor: pointer;
    }
  }
}

.card {
  max-width: 716.1px;
  height: 224px;
  &--container {
    position: relative;
    text-align: center;

    &__heading {
      width: 100%;
      position: absolute;
      bottom: 5.5px;
      color: white;
      background: rgba(0, 0, 0, 0.6);
      z-index: 10;
      h3 {
        font-size: 10px;
      }
    }
  }
}
